h1{color: rgb(224, 42, 42);}
img {width: 400px;}
#thirdDiv {height: 600px; width: 500px;}
#thirdDiv {background-color: rgb(157, 93, 11);}
#spanId {font-size: 18px; margin: 50px;}
.divClass {padding: 50px; border: 20px solid rgb(58, 26, 26)}
